* {
  scroll-behavior: smooth;
  color: rgb(70, 40, 48);
}

/* Scroll navbar background */
.bg-scroll-navbar {
  background-color: rgba(250, 201, 225, 0.7);
}

/* Navbar */
#intro-navbar {
  position: fixed;
  width: 100%;
  top: 0;
  transition: background-color 150ms ease-in-out;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.nav-list .right {
  display: flex;
}

.nav-list .btn-menu {
  display: none;
}

#intro-navbar .nav-link {
  text-decoration: none;
  font-weight: 200;
  text-transform: uppercase;
}
.left .nav-link {
  font-family: plank, sans-serif;
  font-size: 2rem;
}

.right .nav-link {
  font-family: montserrat-extrabold, sans-serif;
  font-size: 0.9rem;
}

.right .nav-item:not(:last-child) {
  margin-right: 3rem;
}

.hamburger-menu {
  display: none;
}

/* Introduce */
#intro {
  height: 100vh;
  width: 100%;
  background-image: url(../assets/img/background/bg-introduce.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  object-fit: cover;
  display: flex;
  align-items: center;
}

.intro-container {
  margin-left: 1.5rem;
  padding-top: 2.5rem;
}

.intro-container .masthead-heading {
  font-size: 5.5rem;
  font-family: monument-ultrabold, sans-serif;
}

.intro-container .masthead-script {
  display: inline-block;
  width: 50%;
  margin: 1.3rem 0 7rem 0;
  text-align: justify;
  font-size: 1.3rem;
  font-family: montserrat, sans-serif;
}

.intro-container .ticket-order-button {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-family: montserrat-bold, sans-serif;
  border-radius: 40px;
  background: rgb(50, 40, 48);
  padding: 1.2rem 1.2rem;
  box-shadow: 5px 7px rgb(253, 156, 209);
}

/* Section History */
#history {
  background-image: url(../assets/img/background/bg-history.jpg);
  background-size: cover;
}

.history-container {
  font-family: montserrat-bold, sans-serif;
  padding: 1.5rem;
}

.history-container h2 {
  text-align: center;
}

.his-list {
  display: flex;
  padding: 2rem 0;
}

.his-item {
  display: flex;
  flex-direction: column;
  width: 33.333333%;
}

.his-item img {
  width: 40%;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.his-item span {
  margin-top: 2rem;
  text-align: center;
}

.his-content-container {
  padding: 0 1rem;
  text-align: justify;
  font-family: "Times New Roman", Times, serif;
}

.his-content-container h2 {
  text-align: center;
}

/* Section Vocal */
#vocal {
  background-image: url(../assets/img/background/bg-vocalist.jpg);
  background-size: cover;
}

.vocal-container {
  text-align: center;
  font-family: montserrat-bold, sans-serif;
  padding: 1rem;
}

.vocal-container h2 {
  font-family: montserrat-extrabold, sans-serif;
  font-size: 2rem;
  margin-bottom: 0.3rem;
}

.vocal-container h4 {
  margin-top: 0;
  margin-bottom: 2rem;
}

.vocal-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.vocal-item {
  width: 26.8%;
  padding: 1rem;
}

.vocal-item img {
  width: 13rem;
  border-radius: 1rem;
  transition: width 1s, height 1s;
}

@media only screen and (min-width: 1400px) {
  .vocal-item img:hover {
    width: 15rem;
  }
}

/* Section Ticket Info */
#ticket-info {
  background-image: url(../assets/img/background/bg-order-ticket.jpg);
  background-size: cover;
  text-align: center;
}

.ticket-info-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.ticket-info-container h2 {
  font-family: montserrat-extrabold, sans-serif;
  font-size: 2rem;
}

.ticket-info-container .top-container {
  padding: 0 15rem;
}

.ticket-info-container table {
  font-family: montserrat-bold, sans-serif;
  width: 100%;
  table-layout: fixed;
}

.ticket-info-container table th,
.ticket-info-container table td {
  padding: 0.4rem;
}

.ticket-info-container table th span {
  padding: 0.3rem;
}

.ticket-info-container table tr:first-child th span {
  display: inline-block;
  background: rgba(237, 160, 197, 0.758);
  border-radius: 1rem;
  width: 7rem;
}

.ticket-info-container table td span {
  border-radius: 1rem;
  padding: 0.3rem;
}

.ticket-info-container .middle-container {
  padding-top: 2rem;
}

.ticket-info-container .middle-container img {
  width: 65%;
  border-radius: 2%;
}

.ticket-info-container .bottom {
  display: flex;
  justify-content: center;
}

.ticket-info-container .bottom-container {
  background-color: rgba(219, 101, 123, 0.4);
  border-radius: 2rem;
  padding: 1rem;
  margin-top: 1rem;
  font-family: montserrat-bold, sans-serif;
  user-select: none;
  cursor: pointer;
}

#benefitContent img {
  height: 36rem;
}

/* Section Form */
#form {
  background-color: #f8f8f8;
  padding: 2.5rem 0;
}

.form-container {
  max-width: 37.5rem;
  margin: 0 auto;
}

.form-container h2 {
  text-align: center;
  font-family: montserrat-extrabold, sans-serif;
  font-size: 2rem;
  color: rgb(70, 40, 48);
}

.form-container img {
  margin-bottom: 1.5rem;
}

.form-container form {
  font-family: montserrat, sans-serif;
}

.form-item {
  margin-bottom: 1.25rem;
  font-family: montserrat-bold, sans-serif;
}
.form-item:nth-child(6) {
  display: flex;
}
.form-item:nth-child(6) div {
  padding-left: 1rem;
}
.form-item:last-child {
  text-align: center;
}

.form-item > label {
  text-transform: uppercase;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="url"] {
  width: 100%;
  padding: 0.625rem;
  margin-top: 0.4em;
  border: 0.0625rem solid #ccc;
  border-radius: 0.3125rem;
  font-family: montserrat, sans-serif;
}

.ticket-options {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  margin: 2rem 0;
  padding: 0 3rem;
}

.ticket-type {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ticket-type > label {
  text-transform: uppercase;
  margin-bottom: 0.6rem;
}

.ticket-controls {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.ticket-controls input {
  text-align: center;
}

.ticket-btn {
  background-color: rgb(242, 172, 208);
  color: #fff;
  border: none;
  border-radius: 0.625rem;
  width: 1.875rem;
  height: 1.875rem;
  cursor: pointer;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ticket-btn:hover {
  background-color: rgb(216, 136, 177);
}

.payment-options {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

.payment-options label {
  font-family: montserrat, sans-serif;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.banking-qr-image {
  display: none;
}

.banking-qr-image p {
  color: #ff0000;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 2.5rem;
}

.banking-qr-image.show {
  display: block;
}

#banking-qr-image {
  width: 20rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#cash-notice {
  display: none;
}

#cash-notice.show {
  display: block;
  color: red;
  font-style: italic;
  margin-bottom: 2.5rem;
}

input[type="submit"] {
  background-color: rgb(242, 172, 208);
  color: #fff;
  border: none;
  border-radius: 0.3125rem;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  font-family: montserrat-bold, sans-serif;
  font-size: 1rem;
}

input[type="submit"]:hover {
  background-color: rgb(216, 136, 177);
}

/* Section Contact */
#contact {
  background-image: url(../assets/img/background/bg-contact.jpg);
  background-size: cover;
}

.contact-container {
  padding: 1rem;
  display: flex;
  gap: 0.5rem;
}

.contact-container > div {
  flex: 1;
}

.contact-container > div h2 {
  font-family: montserrat-bold, sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.contact-container i {
  font-size: 1.5rem;
}

.contact-container a {
  text-decoration: none;
}

.contact-container .left-container {
  display: flex;
  flex-direction: column;
}

.contact-container .info-contact-item {
  display: flex;
  margin-bottom: 0.7rem;
  align-items: center;
}

.contact-container .info-contact-item i {
  margin-right: 0.6rem;
  display: flex;
}

.contact-container .info-contact-item:nth-child(2) div {
  display: flex;
  flex-direction: column;
}

.contact-container .social-contact {
  display: flex;
  margin: 0 0 1.8rem;
}

.contact-container .social-contact span {
  width: 13%;
}

.contact-container .social-contact a {
  display: flex;
  border-radius: 50%;
  border: 1px #333 solid;
  text-align: center;
  width: 2.5rem;
  height: 2.5rem;
  justify-content: center;
  align-items: center;
}

.social-contact-item:nth-child(1) a:hover {
  background: #486ba3;
}

.social-contact-item:nth-child(2) a:hover {
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}

.social-contact-item:nth-child(3) a:hover {
  background: black;
}

.social-contact-item:nth-child(4) a:hover {
  background: #ff0000;
}

.social-contact-item:nth-child(1) a:hover i {
  color: white;
}

.social-contact-item:nth-child(2) a:hover i {
  color: white;
}

.social-contact-item:nth-child(3) a:hover i {
  color: white;
}

.social-contact-item:nth-child(4) a:hover i {
  color: white;
}

.middle-container div i {
  margin-right: 0.6rem;
}

.middle-container .invest-contact {
  display: flex;
  flex-direction: column;
}

.invest-contact-item {
  display: flex;
  margin-bottom: 0.7rem;
  align-items: center;
}
/* Copyright */
.copyright-container {
  padding: 0.5rem 2rem;
  text-align: center;
}

.copyright-container a {
  text-decoration: none;
}

/* Popup Welcome */
#startup {
  text-align: justify;
}
#startup h2 {
  font-family: "Italianno", cursive;
  font-size: 3rem;
}

/* Popup Form Submit */
#submit-loading,
#submit-success,
#submit-failure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: montserrat-bold, sans-serif;
  font-size: 1.5rem;
  padding: 1rem;
}

#submit-loading i,
#submit-success i,
#submit-failure i {
  display: block;
  font-size: 6rem;
  margin-top: 1rem;
}

/* RESPONSIVE FOR TABLET */
@media only screen and (max-width: 768px) {
  /* Navbar */
  .nav-list .btn-menu {
    display: none;
  }
  .nav-list .left .nav-link {
    font-size: 1.8rem;
  }

  .right .nav-item:not(:last-child) {
    margin-right: 2rem;
  }

  /* Introduce */
  .intro-container .masthead-heading {
    font-size: 4rem;
  }

  .intro-container .masthead-script {
    font-size: 1.1rem;
    width: 70%;
  }

  /* History */
  .his-item img {
    width: 60%;
  }

  /* Vocal */
  .vocal-item {
    width: 23%;
    margin: 1rem;
    padding: 1rem;
  }

  .vocal-item img {
    width: 9rem;
  }

  /* Ticket Info */
  #benefitContent img {
    height: 65vh;
  }

  .ticket-info-container .top-container {
    padding: 0 1rem;
  }

  .ticket-info-container .middle-container img {
    width: 85%;
  }

  #banking-qr-image {
    width: 16rem;
  }

  /* Form */
  #form {
    padding: 1.5rem 1rem;
  }

  /* Contact */
  .contact-container {
    padding: 2rem 1rem;
  }

  .brand-contact img {
    width: 12rem;
  }

  .contact-container .social-contact span {
    width: 25%;
  }

  .contact-container > div {
    width: 30%;
    font-size: 70%;
  }

  .middle-container h2,
  .right-container h2 {
    font-size: 1rem;
  }
}

/* RESPONSIVE FOR MOBILE */

@media only screen and (max-width: 600px) {
  /* Navbar */

  .nav-list .left .nav-link {
    font-size: 1.5rem;
  }

  .nav-list.right {
    display: none;
  }

  .hamburger-menu {
    display: inline;
  }

  .hamburger-menu::before,
  .hamburger-menu::after,
  .hamburger-menu input {
    content: "";
    width: 20px;
    height: 3px;
    background-color: #333;
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity 200ms ease-in-out, width 200ms ease-in-out,
      rotate 200ms ease-in-out, translate 200ms ease-in-out,
      background-color 200ms ease-in-out;
  }
  .hamburger-menu {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: max-content;
    position: absolute;
    top: 20px;
    right: 15px;
    z-index: 3;
    cursor: pointer;
  }
  .hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
  }
  .hamburger-menu:has(input:checked)::before {
    transform: translateY(-90%);
    rotate: 45deg;
    background-color: white;
  }
  .hamburger-menu:has(input:checked)::after {
    transform: translateY(90%);
    rotate: -45deg;
    background-color: white;
  }
  .hamburger-menu input:checked {
    opacity: 0;
    width: 0;
  }

  .nav-list .right {
    position: fixed;
    padding: 10px 0;
    top: 40px;
    right: -100%;
    flex-direction: column;
    max-width: 50%;
    height: max-content;
    transition: right 200ms ease-in-out;
  }

  .nav-list .right .nav-item {
    margin-right: 5px;
  }
  .right .nav-item > a {
    font-size: 1rem !important;
    margin-left: 1rem;
    float: right;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .nav-item:not(:last-child) > a {
    margin-bottom: 10px;
  }

  .hamburger-menu:has(input:checked) + .right-navbar {
    right: 0;
  }

  /* Intro */
  .intro-container {
    margin-left: 1rem;
  }
  .intro-container .masthead-heading {
    font-size: 3rem;
  }

  .intro-container .masthead-script {
    font-size: 0.8rem;
    width: 90%;
  }

  /* History */

  /* Vocal */
  .vocal-list {
    flex-direction: column;
    align-items: center;
  }

  .vocal-item {
    width: 70%;
  }

  .vocal-item img {
    width: 10rem;
  }
  .vocal-item img:hover {
    width: 13rem;
  }

  /* Ticket Info */
  .ticket-info-container .top-container table span {
    font-size: 0.7rem;
  }

  .ticket-info-container table tr:first-child th span {
    width: 4rem;
  }

  .ticket-info-container .top-container {
    padding: 0 1rem;
  }

  .ticket-info-container table th,
  .ticket-info-container table td {
    font-size: 0.9rem;
  }

  .ticket-info-container .middle-container img {
    width: 100%;
    border-radius: 0;
  }

  #benefitContent img {
    height: 24rem;
  }

  /* Form */
  #form {
    padding: 0;
  }

  .form-container {
    padding: 1rem;
    font-size: 80%;
  }

  .form-container h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .ticket-options {
    gap: 1rem;
    padding: 0;
  }

  .payment-options {
    padding: 0 1rem;
  }

  /* Contact */
  .contact-container {
    flex-direction: column;
    font-size: 150%;
  }

  .contact-container h2 {
    margin-top: 0;
  }

  .contact-container .left {
    width: 100%;
    padding-bottom: 1rem;
  }

  .contact-container .social-contact {
    margin-bottom: 0;
  }

  .contact-container .social-contact span {
    width: 12%;
  }

  .contact-container.middle-container {
    padding: 0;
  }

  .invest-contact-item:last-child {
    margin-bottom: 0;
  }

  .contact-container .middle,
  .contact-container .right {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
  }

  .contact-container .middle {
    padding: 1rem 0;
  }

  .contact-container .right {
    padding-top: 1rem;
  }

  /* Popup submit */
  #submit-loading,
  #submit-success,
  #submit-failure {
    font-size: 1.2rem;
    padding: 0.6rem;
  }
}

/* Expand Ipad */
@media only screen and (max-width: 1000px) and (min-width: 768px) {
  /* Intro */
  .intro-container .masthead-script {
    width: 70%;
  }
  /* History */
  .his-item img {
    width: 55%;
  }
  /* Voacal */
  .vocal-item {
    width: 26%;
  }
  .vocal-item img {
    width: 11rem;
  }
  /* Ticket Info */
  .ticket-info-container .top-container {
    padding: 0 6rem;
  }
  #benefitContent img {
    height: 65vh;
  }
  /* Contact */
  .contact-container .social-contact span {
    width: 20%;
  }
}

@media only screen and (max-width: 1400px) and (min-width: 1000px) {
  /* Intro */
  .intro-container .masthead-script {
    width: 60%;
  }
  .ticket-info-container .top-container {
    padding: 0 6rem;
  }
}
