@font-face {
  font-family: plank;
  src: url(../assets/font/plank/plank.ttf);
}

@font-face {
  font-family: monument_ultra;
  src: url(../assets/font/monument-extended/MonumentExtended-Ultrabold.otf);
}

@font-face {
  font-family: montserrat_reg;
  src: url(../assets/font/montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: montserrat_bold;
  src: url(../assets/font/montserrat/Montserrat-Bold.ttf);
}
@font-face {
  font-family: montserrat_extra;
  src: url(../assets/font/montserrat/Montserrat-ExtraBold.ttf);
}
